@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 100px;
    height: 52px;
    border-radius: 50px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switchmoon {color: #ffffff;}

.switchsun {color: #f39c12;}

.checkbox-label .ball {
    background-color: #fff;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(44px);
}
